
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.main-K1s {
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;

  .navbar-A2V {
    align-items: center;
    background-color: #d9d9d9;
    flex-shrink: 0;
    width: 100%;
    height: 10.2rem;
    display: flex;

    .auto-group-5pe5-TQu {
      box-sizing: border-box;
      padding: 1.2rem 2.2rem 1.2rem 10rem;
      height: 100%;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .logo-xsT {
        width: 19rem;
        height: 7.8rem;
        background-color: #ffffff;
        flex-shrink: 0;
        margin-right: 2.8rem;
      }
      .nav-button-HPw {
        margin: 3rem 19.4rem 2.8rem 0rem;
        height: calc(100% - 5.8rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .fashion-bvR {
          flex-shrink: 0;
          margin-right: 3.1rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .beauty-JK3 {
          flex-shrink: 0;
          margin-right: 1.7rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .entertainment-poB {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.7rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .life-guide-MHK {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.7rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
        }
        .your-voice-to3 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
        }
      }
      .icon-pRo {
        width: 19rem;
        height: 5.6rem;
        background-color: #ffffff;
        flex-shrink: 0;
      }
    }
    .auto-group-yhpf-xnu {
      height: 100%;
      font-size: 1.6rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      align-items: center;
      justify-content: center;
      width: 18.3rem;
      flex-shrink: 0;
      background-color: rgba(132, 132, 132, 0.5333333611);
      line-height: 1.2125;
      white-space: nowrap;
      font-weight: 400;
    }
  }
  .auto-group-8zey-33f {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 58.6rem 20.4rem 3.5rem 20.5rem;
    width: 100%;
    align-items: center;

    .featured-event-YFK {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-bottom: 8.2rem;
      width: 100%;

      .auto-group-djtd-Tt5 {
        box-sizing: border-box;
        padding-bottom: 4.4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .featured-event-DMT {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.8rem;
          font-size: 4.8rem;
          font-weight: 800;
          line-height: 1.2125;
        }
        .line-1-k6V {
          width: 103rem;
          height: 0.1rem;
          background-color: #848484;
          flex-shrink: 0;
        }
      }
      .auto-group-nmm3-VJy {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .rectangle-20-3rH {
          background-color: #d9d9d9;
          flex-shrink: 0;
          margin-right: 12.5rem;
          width: 40rem;
          height: 40rem;
        }
        .auto-group-vc9p-b77 {
          width: 50.6rem;
          flex-shrink: 0;

          .pendaftaran-event-2023-challenge-1-wAy {
            margin-bottom: 3.5rem;
            max-width: 44.1rem;
            font-size: 3.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .cek-syarat-dan-ketentuan-pendaftaran-event-2023-di-sini-xVP {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin-bottom: 3.4rem;
            max-width: 50.6rem;
          }
          .auto-group-mwxm-sMT {
            width: calc(100% - 0.1rem);
            display: flex;
            align-items: flex-start;
            margin-right: 0.1rem;

            .rectangle-21-1iZ {
              background-color: #d9d9d9;
              flex-shrink: 0;
              margin: 0.8rem 12.5rem 0rem 0rem;
              width: 19rem;
              height: 3.2rem;
            }
            .button-8oB {
              width: 19rem;
              height: 7.2rem;
              background-color: #d9d9d9;
              border-radius: 1rem;
              flex-shrink: 0;
            }
          }
        }
      }
    }
    .news-card-U6M {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 0.1rem 6.3rem 0rem;
      width: 103rem;
      align-items: flex-end;

      .self-BWZ {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 81.3rem 3.8rem 0rem;
        font-size: 4.8rem;
        font-weight: 800;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .auto-group-5wnv-VGM {
        flex-shrink: 0;
        margin-bottom: 5.9rem;
        width: 100%;
        height: 43.7rem;
        display: flex;
        align-items: center;

        .card-1-ppR {
          height: 100%;
          flex-shrink: 0;
          margin-right: 5.2rem;
          width: 31.5rem;

          .photo-Nb3 {
            margin-bottom: 1.9rem;
            width: 100%;
            height: 22.8rem;
            background-color: #d9d9d9;
          }
          .lorem-ipsum-dolor-sit-amet-consectur-adipiseng-L25 {
            margin: 0rem 0rem 0.7rem 1.575rem;
            max-width: 24.2rem;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.5052273009;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .november-2023-2fb {
            line-height: 1.5052272797;
            color: #848484;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.3rem 1.6rem;
            font-size: 1rem;
            font-weight: 400;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-YP3 {
            max-width: 24.9rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5052274068;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin-left: 1.575rem;
          }
        }
        .card-2-AfK {
          flex-shrink: 0;
          margin-right: 3.3rem;
          width: 31.5rem;
          height: 100%;

          .photo-v8h {
            margin-bottom: 1.9rem;
            width: 100%;
            height: 22.8rem;
            background-color: #d9d9d9;
          }
          .lorem-ipsum-dolor-sit-amet-consectur-adipiseng-3z1 {
            margin: 0rem 0rem 0.7rem 1.575rem;
            max-width: 24.2rem;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.5052273009;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .november-2023-xbB {
            margin: 0rem 0rem 0.3rem 1.6rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5052272797;
            color: #848484;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-5ZK {
            margin-left: 1.575rem;
            max-width: 24.9rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5052274068;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .card-3-Vsw {
          width: 31.5rem;
          height: 100%;
          flex-shrink: 0;

          .photo-Ead {
            margin-bottom: 1.9rem;
            width: 100%;
            height: 22.8rem;
            background-color: #d9d9d9;
          }
          .lorem-ipsum-dolor-sit-amet-consectur-adipiseng-aPb {
            line-height: 1.5052273009;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin: 0rem 0rem 0.7rem 1.575rem;
            max-width: 24.2rem;
            font-size: 1.8rem;
            font-weight: 600;
          }
          .november-2023-sdb {
            font-weight: 400;
            line-height: 1.5052272797;
            color: #848484;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.3rem 1.575rem;
            font-size: 1rem;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-o1T {
            max-width: 24.9rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5052274068;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin-left: 1.575rem;
          }
        }
      }
      .view-all-RoX {
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.5052274068;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .news-card-kqo {
      width: 103rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 0.1rem 6.3rem 0rem;

      .self-57P {
        flex-shrink: 0;
        margin: 0rem 84.9rem 3.8rem 0rem;
        font-size: 4.8rem;
        font-weight: 800;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-f7qu-CC1 {
        margin-bottom: 5.9rem;
        width: 100%;
        height: 43.7rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .card-1-Xk5 {
          margin-right: 5.2rem;
          width: 31.5rem;
          height: 100%;
          flex-shrink: 0;

          .photo-UfK {
            background-color: #d9d9d9;
            margin-bottom: 1.9rem;
            width: 100%;
            height: 22.8rem;
          }
          .lorem-ipsum-dolor-sit-amet-consectur-adipiseng-dYD {
            margin: 0rem 0rem 0.7rem 1.575rem;
            max-width: 24.2rem;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.5052273009;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .november-2023-XtV {
            margin: 0rem 0rem 0.3rem 1.575rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5052272797;
            color: #848484;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-FJh {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5052274068;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin-left: 1.575rem;
            max-width: 24.9rem;
          }
        }
        .card-2-GzV {
          margin-right: 3.3rem;
          width: 31.5rem;
          height: 100%;
          flex-shrink: 0;

          .photo-pFK {
            background-color: #d9d9d9;
            margin-bottom: 1.9rem;
            width: 100%;
            height: 22.8rem;
          }
          .lorem-ipsum-dolor-sit-amet-consectur-adipiseng-NGq {
            margin: 0rem 0rem 0.7rem 1.575rem;
            max-width: 24.2rem;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.5052273009;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .november-2023-sUV {
            color: #848484;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.3rem 1.575rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5052272797;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-a81 {
            line-height: 1.5052274068;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin-left: 1.575rem;
            max-width: 24.9rem;
            font-size: 1.2rem;
            font-weight: 400;
          }
        }
        .card-3-pY9 {
          width: 31.5rem;
          height: 100%;
          flex-shrink: 0;

          .photo-yfw {
            margin-bottom: 1.9rem;
            width: 100%;
            height: 22.8rem;
            background-color: #d9d9d9;
          }
          .lorem-ipsum-dolor-sit-amet-consectur-adipiseng-wMs {
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.5052273009;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin: 0rem 0rem 0.7rem 1.575rem;
            max-width: 24.2rem;
          }
          .november-2023-3Qu {
            font-weight: 400;
            line-height: 1.5052272797;
            color: #848484;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.3rem 1.575rem;
            font-size: 1rem;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-y3f {
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5052274068;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin-left: 1.575rem;
            max-width: 24.9rem;
          }
        }
      }
      .view-all-oYV {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.5052274068;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .news-card-8am {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 0.1rem;
      width: 103rem;

      .self-UuX {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 44.8rem 3.8rem 0rem;
        font-size: 4.8rem;
        font-weight: 800;
        line-height: 1.2125;
      }
      .auto-group-nhgd-ogu {
        margin-bottom: 5.9rem;
        width: 100%;
        height: 43.7rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .card-1-kc9 {
          margin-right: 5.2rem;
          width: 31.5rem;
          height: 100%;
          flex-shrink: 0;

          .photo-WLR {
            margin-bottom: 1.9rem;
            width: 100%;
            height: 22.8rem;
            background-color: #d9d9d9;
          }
          .lorem-ipsum-dolor-sit-amet-consectur-adipiseng-4Mw {
            font-family: Inter, 'Source Sans Pro';
            margin: 0rem 0rem 0.7rem 1.575rem;
            max-width: 24.2rem;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.5052273009;
            color: #000000;
          }
          .november-2023-Z3o {
            color: #848484;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.3rem 1.575rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5052272797;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-g8R {
            font-family: Inter, 'Source Sans Pro';
            margin-left: 1.575rem;
            max-width: 24.9rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5052274068;
            color: #000000;
          }
        }
        .card-2-8WD {
          margin-right: 3.3rem;
          width: 31.5rem;
          height: 100%;
          flex-shrink: 0;

          .photo-GsK {
            margin-bottom: 1.9rem;
            width: 100%;
            height: 22.8rem;
            background-color: #d9d9d9;
          }
          .lorem-ipsum-dolor-sit-amet-consectur-adipiseng-dSy {
            font-weight: 600;
            line-height: 1.5052273009;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin: 0rem 0rem 0.7rem 1.575rem;
            max-width: 24.2rem;
            font-size: 1.8rem;
          }
          .november-2023-jku {
            font-weight: 400;
            line-height: 1.5052272797;
            color: #848484;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0rem 0.3rem 1.575rem;
            font-size: 1rem;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-fPf {
            margin-left: 1.575rem;
            max-width: 24.9rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5052274068;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .card-3-WfB {
          flex-shrink: 0;
          width: 31.5rem;
          height: 100%;

          .photo-5CV {
            margin-bottom: 1.9rem;
            width: 100%;
            height: 22.8rem;
            background-color: #d9d9d9;
          }
          .lorem-ipsum-dolor-sit-amet-consectur-adipiseng-E5P {
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.5052273009;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            margin: 0rem 0rem 0.7rem 1.575rem;
            max-width: 24.2rem;
          }
          .november-2023-8gZ {
            margin: 0rem 0rem 0.3rem 1.575rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5052272797;
            color: #848484;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipisicing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-fRb {
            margin-left: 1.575rem;
            max-width: 24.9rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.5052274068;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
      .view-all-WBK {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.5052274068;
        color: #000000;
      }
    }
  }
  .footer-Et1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.1rem 10rem 2.4rem 10rem;
    width: 100%;

    .auto-group-mssj-NDX {
      flex-shrink: 0;
      margin-bottom: 1.6rem;
      width: 100%;
      height: 7.9rem;
      display: flex;
      align-items: flex-start;

      .logo-uDT {
        flex-shrink: 0;
        margin-right: 54.5rem;
        width: 19rem;
        height: 6.7rem;
        background-color: #ffffff;
      }
      .stay-connected-SjB {
        width: 50.5rem;
        height: 100%;
        flex-shrink: 0;

        .auto-group-pwch-QR7 {
          margin: 0rem 1.8rem 1.2rem 0rem;
          width: calc(100% - 1.8rem);
          display: flex;
          align-items: center;

          .stay-connected-97o {
            margin-right: 8.6rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .stay-update-and-more-into-your-box-51T {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.6rem;
            font-weight: 600;
          }
        }
        .auto-group-jsft-bVb {
          width: 100%;
          height: 4.7rem;
          display: flex;
          align-items: center;

          .icon-medsos-jrh {
            margin-right: 2rem;
            width: 19rem;
            height: 3.9rem;
            background-color: #ffffff;
            flex-shrink: 0;
          }
          .rectangle-23-tDo {
            flex-shrink: 0;
            margin-right: 0.4rem;
            width: 19rem;
            height: 4.7rem;
            border: solid 0.3rem #ffffff;
            box-sizing: border-box;
          }
          .auto-group-xax9-DG5 {
            width: 10.1rem;
            font-weight: 400;
            white-space: nowrap;
            display: flex;
            align-items: center;
            background-color: #ffffff;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            justify-content: center;
            flex-shrink: 0;
            height: 100%;
            border-radius: 0.5rem;
            font-size: 1.4rem;
          }
        }
      }
    }
    .auto-group-jncq-srR {
      margin: 0rem 33.7rem 1.7rem 0rem;
      width: calc(100% - 33.7rem);
      height: 16.1rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .mental-health-office-bnR {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .mental-health-office-x7B {
          flex-shrink: 0;
          margin-bottom: 1.1rem;
          font-size: 2.4rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .jl-mampang-prapatan-raya-no-75-jakarta-12790-indonesia-tFj {
          max-width: 26.4rem;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2125;
          color: rgba(0, 0, 0, 0.6000000238);
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 2.2rem;
        }
        .view-map-auF {
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.6rem;
        }
      }
      .auto-group-gu2z-L7j {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 5.1rem;
        height: 100%;

        .mhealth-H2y {
          margin-right: 32.3rem;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .mhealth-Rey {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.2125;
          }
          .about-contact-carreer-internship-miq {
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 7.6rem;
            font-size: 1.6rem;
          }
        }
        .mhealth-menu-JCy {
          flex-direction: column;
          flex-shrink: 0;
          display: flex;

          .mhealth-menu-4C9 {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.1rem;
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 1.2125;
          }
          .fashio-beauty-life-guide-your-voice-xoK {
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 8.1rem;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
          }
        }
      }
    }
    .credit-UWm {
      padding: 1.2rem 38.1rem 0rem 37.5rem;
      font-size: 1.4rem;
      font-weight: 400;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      flex-shrink: 0;
      border-top: solid 0.1rem #848484;
      box-sizing: border-box;
      width: 100%;
      line-height: 1.2102272851;
      color: rgba(0, 0, 0, 0.6000000238);
      white-space: nowrap;
      align-items: baseline;

      .credit-UWm-sub-0 {
        color: rgba(0, 0, 0, 0.6000000238);
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .credit-UWm-sub-1 {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.2125;
        color: rgba(0, 0, 0, 0.6000000238);
        font-family: Inter, 'Source Sans Pro';
      }
    }
  }
}
